@font-face {
	font-family: "Courier Prime";
	src: url("fonts/CourierPrime.ttf");
}

h1,
h5,
p {
	font-family: "Courier Prime";
}

h5 {
	font-size: 16px;
}

p {
	font-size: 13.5px;
}

h1.margin-text {
	margin-top: 1%;
	font-size: 2rem;
}

div.row-margin {
	margin-left: 10%;
}

div.card-block {
	margin-bottom: 1.5%;
	margin-top: 5px;
}

div.card-space-width {
	width: 18rem;
	padding: 2.5%;
}

div.card-space-body {
	margin-left: -9%;
	margin-top: -2%;
}
